#cat {
    padding-top: 20vh;
    height: 100vh;
    width: 100vw;
    background: $bg;
    display: flex;
    place-content: center;
    overflow: hidden;

    @media(max-width:500px) {
        overflow-y: hidden;
        display: block;
        padding-top: 5vh;
    }

}

.container {
    opacity: 0.9;
    width: 65%;
    height: 65%;

    @media(max-width:500px) {
        padding-top: 0;
        height: 100vh;
        padding-bottom: 100px;
        overflow-y: hidden;

    }

    svg {
        height: 65%;
        width: 65%;
        overflow: visible;

        @media(max-width:500px) {
            padding-bottom: 100px;
        }

    }
}

#bongo-cat {
    fill: $bg;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;

    .laptop-cover,
    .headphone .band {
        fill: none;
    }

    .paw,
    .head {
        stroke: $orange;
    }

    .laptop-keyboard {
        stroke-width: 2;
    }

    .terminal-code {
        stroke-width: 5;
    }

    .music .note,
    .laptop-base,
    .laptop-cover,
    .paw .pads {
        stroke: $pink;
    }

    .table line,
    .headphone .band,
    .headphone .speaker path:nth-child(3) {
        stroke: $green;
    }

    .terminal-frame,
    .laptop-keyboard,
    .headphone .speaker path:nth-child(2) {
        stroke: $blue;
    }

    .terminal-code,
    .headphone .speaker path:first-child {
        stroke: $cyan;
    }

    @media(max-width:500px) {
        margin-bottom: -300px;
    }
}