@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');


#title,
.title {
    color: $salmon-pink;
    font-size: 150px;
    display: inline-flex;
    margin: -5px;
    padding: 5px;
    font-family: 'Ballet', cursive;

    @media(max-width:550px) {
        margin-bottom: -100px;
    }
}


.title-letter {
    font-size: calc(6vw + 1rem);
    margin-left: -2px;
}


.title-small {
    font-weight: 400;
    top: -5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: -200px;

    @media(max-width:550px) {
        margin-top: -50px;
        font-size: 20px;
    }
}


/* Opacity For Start */
.title-letter,
#sub-title {
    opacity: 0;
}

.title-letter {
    color: $salmon-pink;
    font-size: calc(6vw + 1rem);
    margin-left: -2px;

    @media(max-width:550px) {
        font-size: 60px;
        margin-bottom: -100px;

    }
}