// NAVBAR

li {
    list-style: none;
}

a {
    color: var(--pink);
    text-decoration: none;
    transition: 0.7s ease;

    &:hover {
        color: rgb(156, 104, 130);
    }
}

.nav {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0.5;
    background: black;
    color: $orange;
    font-family: "Cinzel", serif;

    @media (max-width: 500px) {
        opacity: 1;
        padding: 0;
        background: black;
    }


    &-logo {
        height: 75px;
        width: auto;
        justify-content: space-between;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @media (max-width: 500px) {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 0;
            z-index: 1;
            flex-direction: column;
            background: black;
            padding-bottom: 0;
            width: 100%;
            text-align: center;
            transition: 0.3s;

            &.active {
                left: 0;
                position: relative;
                padding-bottom: 75px;
            }
        }
    }

    &-link {
        transition: 0.7s ease;
        color: var(--pink);

        &:hover {
            color: rgb(238, 202, 220);
        }
    }

    &-item {
        font-size: 20px;
        color: $orange;

        @media (max-width: 786px) {
            margin: 16px;
            background: none;
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;


    @media (max-width: 786px) {
        display: block;
        color: $orange;
        padding-top: 5px;
        z-index: 2;
        opacity: 1;
    }
}

.mainpage {
    border-radius: 50%;
    max-height: 400px;
    width: auto;
}

.portfolio {
    max-width: 400px;
    height: 200px;
}

.hamburger>i {

    @media(max-width:500px) {
        font-size: 5em;
        padding-top: 75px;
        padding-left: 160px;
        display: block;
        color: $pink;
        opacity: 1;

    }
}

i {
    font-size: 50px;
}