/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}


h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;

    @media (max-width: 500px) {
        max-width: 300px;
    }
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #7ed1e2;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;


    @media (max-width: 500px) {
        max-width: 300px;
    }
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;

        @media (max-width: 500px) {
            max-width: 250px;
        }
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;

        @media (max-width: 500px) {
            max-width: 250px;
        }
    }
}

.card1 {

    border-radius: 1rem;
    box-shadow: 15px 15px 50px #ff61d8;
    width: 700px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card1_content {
    padding: 1rem;
    background: black;
}

.card1_title {
    color: #7ed1e2;

    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card1_text {
    color: #ff61d8;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}