section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: center;
}

#home {
    background-color: black;
}

#skills {
    background-color: black;
    color: $salmon-pink;
}